header, section, footer, article {
    border: 1px solid silver;
    padding: 7px;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#filtros {
    grid-column: 2/4;
}

#restaurants {
    grid-column: 4/10;
}
